
body{background:#000;color:gold;font-family:Arial;
display:flex;justify-content:center;align-items:center;height:100vh;margin:0;}
.card{background:#111;padding:30px;border-radius:15px;
width:100%;max-width:420px;box-shadow:0 0 20px gold;text-align:center;}
select,button,input{width:100%;padding:12px;margin:10px 0;border-radius:8px;border:none;}
button{background:gold;color:black;font-weight:bold;cursor:pointer;}
.logo{width:200px;margin-bottom:15px;}
.whatsapp{display:block;margin-top:15px;background:#25D366;
color:white;padding:12px;border-radius:8px;text-decoration:none;}
